{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}

       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       {{ encore_entry_link_tags('rezept-uebersicht') }}
   {% endblock %}

{% block body %}

    <img class="hero-image" src="{{ asset('images/starting-page/onlinebuch.png') }}">

    <div class="hero-text">
        <div></div>
        <div>
            <h1>onlinebuch</h1>
            <h3>hier befindet sich unsere rezeptsammlung</h3>
        </div>

        <div class="see-more">
            <h6>MEHR ENTDECKEN</h6>
            <img class="arrow" src="{{ asset('images/svgs/arrow.svg') }}" alt="Pfeil nach unten" width="25">
        </div>
    </div>



    <div class="ergebnisse">
        <h1>die rezeptsammlung</h1>
        <div class="recipes">
            {% for recipe in recipe %}
                <a href="{{ path('app_rezept', {'id': recipe.recipe_id }) }}">
                    <div class="recipe-teaser">
                        <div class="teaser-image">
                            <img src="{{ asset(recipe.image_link) }}" alt="" itemprop="image">
                        </div>
                        <div class="text">
                            <h3>{{ recipe.name }}</h3>
                            <h5>{{ recipe.category }}</h5>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>



{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('rezept-uebersicht') }}
{% endblock %}
