{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('rezept') }}
   {% endblock %}

{% block body %}

    <div class="picture-1">
        <img src="{{ asset(recipe.imageLink) }}">
    </div>

    <div class="hero-text">
        <h1>{{ recipe.name|upper }}</h1>
        <h3>{{ category|upper }}</h3>

        <div class="buttons">
            <a>voriges Rezept</a>
            <a>nächstes rezept</a>
        </div>
    </div>

    <div class="eigenschaften">

            <h1 class="h1-eig">rezepteigenschaften</h1>
        <div class="content-1">
            <figure>
                <img src="{{ asset('images/svgs/instagram.svg') }}" height="150" alt="" itemprop="image">
                <figcaption> {{ difficulty }}</figcaption>
            </figure>
            <figure>
                <img src="{{ asset('images/svgs/facebook.svg') }}" height="150" alt="" itemprop="image">
                <figcaption>  {{ recipe.cookingTime }}</figcaption>
            </figure>
            <figure class="youtube">
                <img src="{{ asset('images/svgs/youtube.svg') }}" height="150" alt="" itemprop="image">
                <figcaption> {{ nutrition }}</figcaption>
            </figure>
            <figure>
                <img src="{{ asset('images/svgs/tik-tok.svg') }}" height="150" alt="" itemprop="image">
                <figcaption>{{ nutrition }}</figcaption>
            </figure>
        </div>
        <hr>
        <div class="funktionen">
            <div class="content-1">
                <figure>
                    <img src="{{ asset('images/svgs/instagram.svg') }}" height="100" alt="" itemprop="image">
                    <figcaption> {{ difficulty }}</figcaption>
                </figure>
                <figure>
                    <img src="{{ asset('images/svgs/facebook.svg') }}" height="100" alt="" itemprop="image">
                    <figcaption>  {{ recipe.cookingTime }}</figcaption>
                </figure>
                <figure class="youtube">
                    <img src="{{ asset('images/svgs/youtube.svg') }}" height="100" alt="" itemprop="image">
                    <figcaption> {{ nutrition }}</figcaption>
                </figure>
                <figure>
                    <img src="{{ asset('images/svgs/tik-tok.svg') }}" height="100" alt="" itemprop="image">
                    <figcaption>{{ nutrition }}</figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="picture-2">
        <img src="{{ asset(recipe.imageLink) }}" >
    </div>

    <div class="hero-text-2">
        <h1>auf die plätze, feritg, kochen!</h1>

    </div>



    <div class="rezept">
        <div class="zutaten">
                <h1 class="h1-zutat">ZUTATEN</h1>
            <div class="zutaten-tabellen">
                <h2 class="h2-zutat">für {{ recipe.portions|upper }}:</h2>
                <table class="ingridients">


                    {% for ingridient in ingridients %}
                        <tr>
                            <td>
                                {{ ingridient.portion }}
                            </td>
                            <td>
                                {{ ingridient.name }}
                            </td>
                        </tr>
                    {% endfor %}

                </table>
                <h2 class="black"></h2>
                <table class="teig">

                </table>
            </div>
        </div>
        <div class="leer">
        </div>
        <div class="zubereitung">
                <h1 class="h1-zubereitung">ZUBEREITUNG</h1>

            <div class="zubereitung-box">

                {% for cook in cooking %}
                    <h2 class="black">{{ cook.heading|upper }}</h2>

                    <p>{{ cook.cooking }}</p>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('rezept') }}
{% endblock %}
