{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('rezept-uebersicht') }}
   {% endblock %}

{% block body %}


    <div class="picture-1">
        <img src="{{ asset('images/starting-page/onlinebuch.png') }}">
    </div>

    <div class="hero-text">
        <h1>ONLINEBUCH</h1>
        <h3>HIER BEFINDET SICH UNSERE REZEPTSAMMLUNG</h3>

        <div class="see-more">
            <h6>MEHR ENTDECKEN</h6>
            <img class="arrow" src="{{ asset('images/svgs/arrow.svg') }}" alt="Pfeil nach unten" width="25">
        </div>
    </div>


    <div class="rezepte">

        <h1 class="leorio">ERGEBNISSE</h1>

        <div class="content-1">
            {% for recipe in recipe %}

                <div class="teaser-pic">
                    <a href="{{ path('app_rezept', {'id': recipe.recipe_id }) }}">
                        <img src="{{ asset(recipe.image_link) }}" width="350" height="300" alt="" itemprop="image">
                    </a>
                    <div class="text">
                        <h3 class="leorio">{{ recipe.name }}</h3>
                        <h5 class="leorio">{{ recipe.category }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('rezept-uebersicht') }}
{% endblock %}
