{% extends 'base.html.twig' %}

   {% block stylesheets %}
       {{ parent() }}
       {{ encore_entry_link_tags('rezept-uebersicht') }}
   {% endblock %}

{% block body %}



    <div class="picture">
        <img src="{{ asset('images/recipe-images/unbearbeitet/pfannkuchen-headline.jpg') }}" width="500" alt="" itemprop="image">
    </div>
    <div class="hero-content">
        <h4 class="mini-head">ONLINEBUCH</h4>
        <div class="whitebox">
            <h1 class="orange">HALLO! HIER BEFINDET SICH
                UNSERE REZEPTSAMMLUNG!</h1>
        </div>
    </div>
    <div class="green-background">
        <select class="dropdown-1" name="top5" size="1">
            <option>ZUBEREITUNGSZEIT</option>
            <option>Michael Jackson</option>
            <option>Tom Waits</option>
            <option>Nina Hagen</option>
            <option>Marianne Rosenberg</option>
        </select>
        <select class="dropdown-1" name="top5" size="1">
            <option>ZUBEREITUNGSZEIT</option>
            <option>Michael Jackson</option>
            <option>Tom Waits</option>
            <option>Nina Hagen</option>
            <option>Marianne Rosenberg</option>
        </select>
        <select class="dropdown-1" name="top5" size="1">
            <option>ZUBEREITUNGSZEIT</option>
            <option>Michael Jackson</option>
            <option>Tom Waits</option>
            <option>Nina Hagen</option>
            <option>Marianne Rosenberg</option>
        </select>
    </div>


    <div class="ergebnisse">

            {%  for recipe in recipe %}

        <div class="inhaltsblock">
            <a href="{{ path('app_rezept', {'id': recipe.recipe_id }) }}">


            <div class="teaserbild">
                <img src="#" width="100" alt="" itemprop="image">
            </div>

            <div class="text">

                <h4>{{ recipe.category }}</h4>
                <h1>{{ recipe.name }}</h1>

                <div class="infos">
                    <div class="info-1">
                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                             itemprop="image">
                        {{ recipe.difficulty }}
                    </div>
                    <div class="info-1">
                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                             itemprop="image">
                        {{ recipe.cooking_time }}
                    </div>
                    <div class="info-1">
                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                             itemprop="image">
                        {{ recipe.nutrition }}
                    </div>
                    <div class="info-1">
                        <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                             itemprop="image">
                        {{ recipe.allergen }}
                    </div>
                </div>

            </div>
            </a>
        </div>
            {% endfor %}







                    <hr>
                    <div class="funktionen">
                        <div class="funktion-1">
                            <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                                 itemprop="image">
                            SPEICHERN
                        </div>
                        <div class="funktion-1">
                            <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                                 itemprop="image">
                            VORLESEN
                        </div>
                        <div class="funktion-1">
                            <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                                 itemprop="image">
                            HERUNTERLADEN
                        </div>
                        <div class="funktion-1">
                            <img src="assets/images/e/user%282%29-49b22aa7.svg" width="30" height="30" alt=""
                                 itemprop="image">
                            DOWNLOAD
                        </div>
                    </div>



        </div>
    </div>


{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('rezept-uebersicht') }}
{% endblock %}
